**__pycache__**
unit_tests/tests/*
results_train/*
results_misc/*
results_test/*
results_coarse/*
datalists/*
data/*
models/*
archives/*
!**/.gitkeep
#/lib is used for remote execution, not related to the project
/lib
