**__pycache__**
results_train/*
gaussian_noise_img_changes/*
results_misc/*
results_test/*
results_coarse/*
datalists/*
data/*
models/*
archives/*
!**/.gitkeep
#/lib is used for remote execution, not related to the project
/lib
